.user {
  float: right;
}

.img-back {
  background: url('../../assets/images/back.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding-top: 12%;
  padding-bottom: 12%;
}

.we-do {
  background: #fff;
  text-align: center;
  padding: 6%;
  width: 100%;
}

.map {
  width:100%;
}