.my-header {
  position: 'fixed'; 
  z-index: 1;
  width: '100%';
  background: #0f73d0;
}
.user {
  float: right;
  width: 80px;
  text-align: center;
}
.user:hover {
  background: #1890ff;
}
.language {
  float: right;
  width: 80px;
  height: 100%;
}
.language img {
  max-height: 50%;
}
.language:hover {
  background: #1890ff;
}
.bt-review {
  float: right;
  margin-right: 25px;
}
.main {
  flex-grow: 1;
  padding: '2%';
  margin-top: 64; 
  height: 100%;
  min-height: 100%;
}
.footer {
  flex-shrink: 0;
  background: #0f73d0;
  color: #fff;
  width: 100%;
  text-align: center;
}

.footer_item {
  padding: 2%;
}

@media (min-width: 720px) {
  .logo {
    height: 50%;
    margin: 16px 0 16px 0;
    float: left;
  }
}

@media (max-width: 720px) {
  .logo {
    line-height: 64px;
    max-width: 50%;
    margin: 20px 0 0 0;
    float: left;
  }
}

.my-header a {
  color: #fff;
}
.footer a {
  color: #fff;
}
.final {
  background: #0f73d0;
  text-align: center;
}

.menuLanguages {
  padding: 2%;
  min-width: 100px;
}

.menuLanguages .brand {
  width: 30px;
  height: 30px;
  padding-right: 2%;
}