.my-header {
  position: 'fixed'; 
  z-index: 1;
  width: '100%';
  background: #0f73d0;
}
.main {
  flex-grow: 1;
  padding: '2%';
  margin-top: 64; 
}
.footer {
  flex-shrink: 0;
  background: #0f73d0;
  color: #fff;
  width: 100%;
}

.footer_item {
  padding: 6%;
}

.logo {
  height: 3.5vh;
  margin: 16px 24px 16px 0;
  float: left;
}

.my-header a {
  color: #fff;
}
.footer a {
  color: #fff;
}
.final {
  background: #0f73d0;
  text-align: center;
}