.search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 100%;
  margin: auto;
  opacity: 0.9;
}

.search-form .ant-form-item {
  display: flex;
  margin-bottom: 2%;
}

.search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.search-form h2{
  text-align: center;
  margin-bottom: 2%;
}

.buttonSearch { 
  background-color: #0f73d0;
  width: 100%;
}