.bt-email {
  width: 100%
}

.bt-google {
  background: #dd4b39;
  border-color: #dd4b39;
  width: 100%;
}

.bt-google:hover {
  background: #e27768;
  border-color: #f06a58;
  width: 100%;
}

.bt-facebook {
  background: #3b5998;
  border-color: #3b5998;
  width: 100%
}

.bt-facebook:hover {
  background: #5178ca;
  border-color: #3b5998;
  width: 100%
}

.formLogin {
  padding: 2%;
}

.formLogin h2 {
  text-align: center;
  padding: 2%;
}

