.bt-email {
  width: 100%
}

.bt-google {
  background: #dd4b39;
  border-color: #dd4b39;
  width: 100%;
}

.bt-facebook {
  background: #3b5998;
  border-color: #3b5998;
  width: 100%
}

.h2 {
  text-align: center;
}