.school-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 100%;
  margin: auto;
}

.school-form .ant-form-item {
  display: flex;
}

.school-form .ant-form-item-control-wrapper {
  flex: 1;
}
