body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

.with-padding {
  padding: 2%;
}

.ant-form-item {
  margin-bottom: 0px;
}

.no-margin { 
  margin: 0px;
}

.nowrap {
  white-space: nowrap;
}

.paddingTop {
  padding-top: 4%;
}