body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.with-padding {
  padding: 2%;
}

.ant-form-item {
  margin-bottom: 0px;
}

.no-margin { 
  margin: 0px;
}

.nowrap {
  white-space: nowrap;
}